{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block htmlbody %}
<div class="jumbotron">
    <h1>WebEx Presentations Suck.</h1>
    <p class="lead">Screensharing takes too long to set up and the video quality is horrible. PDFShow is a snap to use and always looks great.</p>
    <button type="button" data-toggle="modal" data-target="#gen-presentation-modal" class="btn btn-large btn-success">Try it for Free !</button>
    <p class='lead'><em>It's the best way to present slides over the Internet</em></p>
</div>
<div id="gen-presentation-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<form id="gen-pres-form" action="{{ blob_upload_url }}" method="POST" enctype="multipart/form-data">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Upload Presentation</h3>
    </div>
    <div class="modal-body">
            <fieldset>
                <div>
                <input type="file" name="file" required placeholder="Choose PDF file">
                    <dl><dt>Hint: Save your presentation in .pdf format before uploading</dt><dd>File > Save As... > Format (PDF)</dd></dl>
                </div>
            </fieldset>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button type="submit" id="gen-presentation-link" class="btn btn-primary">Upload Presentation</button>
    </div></form>
</div>
<hr>
<div class="row-fluid marketing">
    <div class="span6">
        <h4>Instant, No-brainer Setup</h4>
        <p>No download required! Just send the presentation link to conference attendees.</p>
        <h4>Picture Perfect</h4>
        <p>Unparalleled image quality. No more squinting at blurry charts and text.</p>
    </div>
    <div class="span6">
        <h4>Everyone is on the Same Page</h4>
        <p>Every computer automatically refreshes to show the current slide. We're all on the same slide.</p>
        <h4>Completely Free</h4>
        <p>No cost while PDFShow is in Beta.</p>
    </div>
</div>{% endblock %}
 {% block scripts %}
{% endblock %}