{% extends "base.html" %}

{% block title %}Presentation URL{% endblock %}
{% block htmlbody %}
<div class="container marketing">
    <div class="row">
        <h3><a target="_blank" href="{{ audience_url }}">AudienceView: </a></h3><input class="input-xxlarge" type="text" value="{{ presenter_url }}" disabled>
        <span class="help-block">Send the AudienceView link to meeting participants</span>
    </div>
    <div class="row">
        <h3><a target="_blank" href="{{ presenter_url }}">PresenterView: </a></h3><input class="input-xxlarge" type="text" value="{{ presenter_url }}" disabled>
        <p >Open the PresenterView to host a presentation.</p>
        <p>Going to the next slide in the PresenterView changes the slide in the AudienceView too.</p>
    </div>
</div>
{% endblock %}